nav .navbar-toggler .menu-btn .line, nav .navbar-toggler .menu-btn:before, nav .navbar-toggler .menu-btn:after {
  width: 100%;
  height: 3px;
  background-color: #F2E6E6;
  border-radius: 8px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

body {
  background-color: #871A1C;
  font-family: 'Nunito', sans-serif;
  color: #121212;
}

nav {
  background-color: #BA2426;
  -webkit-box-shadow: 0 24px 40px -12px rgba(135, 26, 28, 0.35);
          box-shadow: 0 24px 40px -12px rgba(135, 26, 28, 0.35);
  z-index: 1;
}

nav .navbar-brand img {
  max-height: 40px;
  margin-left: 20px;
}

nav .navbar-toggler {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav .navbar-toggler .menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

nav .navbar-toggler .menu-btn:before {
  content: "";
  position: absolute;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

nav .navbar-toggler .menu-btn:after {
  content: "";
  position: absolute;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

nav .navbar-toggler .open .line {
  background-color: transparent;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

nav .navbar-toggler .open:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

nav .navbar-toggler .open:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .navbar-collapse {
  text-align: left;
  padding-left: 1.2em;
}

nav .navbar-collapse li a {
  color: #F2E6E6 !important;
}

nav .navbar-collapse .aktif a {
  color: #fff !important;
}

.mobile-bg {
  background-color: #BA2426;
  -webkit-box-shadow: 0 24px 40px -12px rgba(135, 26, 28, 0.35);
          box-shadow: 0 24px 40px -12px rgba(135, 26, 28, 0.35);
}

header {
  position: relative;
}

header .myslider {
  z-index: 0;
}

header .myslider .fieldslider {
  width: 100%;
  height: 50vh;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .myslider .fieldslider .text {
  display: none;
}

header .myslider .fieldslider .text h1 {
  position: absolute;
  top: 12vh;
  left: 0;
  right: 0;
  z-index: 3;
  color: #F2E6E6;
  font-family: 'Dancing Script', cursive;
  -webkit-transform: rotate(350deg);
          transform: rotate(350deg);
}

header .myslider .fieldslider .gambar img {
  height: 50vh;
  width: 100%;
  position: relative;
  z-index: 2;
}

header .arrow {
  font-size: 2em;
  cursor: pointer;
}

header .arrow .prev {
  position: absolute;
  top: 50%;
  left: 5%;
  color: #F2E6E6;
  -webkit-transition: .3s;
  transition: .3s;
}

header .arrow .prev:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

header .arrow .next {
  position: absolute;
  top: 50%;
  right: 5%;
  color: #F2E6E6;
  -webkit-transition: .3s;
  transition: .3s;
}

header .arrow .next:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

section {
  min-height: 100vh;
}

#menu {
  background-color: #F2E6E6;
  position: relative;
}

#menu .header {
  position: relative;
  display: block;
  text-align: center;
  padding-top: 2rem;
}

#menu .header h1 {
  font-size: 2.2rem;
  font-family: 'Dancing Script', cursive;
}

#menu .header h1 i {
  font-size: .8rem;
}

#menu .header .pic-menu {
  margin-top: 1rem;
}

#menu .header .pic-menu .all {
  border: solid 1px #CE2899;
  display: inline-block;
  width: 28vw;
  height: 2rem;
  margin-right: 1rem;
  position: relative;
  border-radius: 2em;
  cursor: pointer;
}

#menu .header .pic-menu .all h2 {
  color: #CE2899;
  margin-top: .5rem;
  font-size: .8rem;
}

#menu .header .pic-menu .all:hover {
  background-color: #B42386;
}

#menu .header .pic-menu .all:hover h2 {
  color: #F2E6E6;
}

#menu .header .pic-menu .aktif {
  background-color: #CE2899;
}

#menu .header .pic-menu .aktif h2 {
  color: #F2E6E6;
}

#menu .header .pic-menu .aktif:hover {
  background-color: #B42386;
}

#menu .content {
  position: relative;
}

#menu .content .con-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
  margin-left: 0;
}

#menu .content .con-cards .card {
  width: 100%;
  cursor: pointer;
  height: auto;
  background-color: #BA2426;
  border-radius: 20px;
  position: relative;
  z-index: 2;
  margin-top: 3rem;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(186, 36, 38, 0.8);
          box-shadow: 0px 0px 0px 0px rgba(186, 36, 38, 0.8);
}

#menu .content .con-cards .card:hover {
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
  -webkit-box-shadow: 0px 15px 30px -10px rgba(135, 26, 28, 0.5);
          box-shadow: 0px 15px 30px -10px rgba(135, 26, 28, 0.5);
}

#menu .content .con-cards .card:hover .con-img {
  -webkit-transform: translate(0, -0.5rem) scale(1.3);
          transform: translate(0, -0.5rem) scale(1.3);
}

#menu .content .con-cards .card:hover .con-img .blur {
  -webkit-transform: translate(0.8rem, 2rem) scale(0.7);
          transform: translate(0.8rem, 2rem) scale(0.7);
  opacity: .35;
}

#menu .content .con-cards .card .con-text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menu .content .con-cards .card .con-text h2 {
  font-weight: 600;
  font-size: .6rem;
  margin: 0;
  color: #F2E6E6;
}

#menu .content .con-cards .card .con-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .35s ease-out;
  transition: all .35s ease-out;
}

#menu .content .con-cards .card .con-img img {
  width: 100%;
  -webkit-transform: translate(0px, -10px);
          transform: translate(0px, -10px);
}

#menu .content .con-cards .card .con-img .blur {
  position: absolute;
  -webkit-filter: blur(15px) grayscale(100%);
          filter: blur(15px) grayscale(100%);
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale(0.6) translate(0, -0.5rem);
          transform: scale(0.6) translate(0, -0.5rem);
  -webkit-transition: all .35s ease-out;
  transition: all .35s ease-out;
}

#location {
  background-color: #BA2426;
  position: relative;
}

#location svg {
  background-color: #BA2426;
  position: relative;
}

#location svg path {
  fill: #F2E6E6;
}

#location .container {
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
}

#location .container .header {
  position: relative;
  display: block;
  text-align: center;
}

#location .container .header h1 {
  margin-bottom: 1rem;
  font-size: 2.2rem;
  font-family: 'Dancing Script', cursive;
  color: #F2E6E6;
}

#location .container .header h1 i {
  font-size: .8rem;
}

#location .container .content .card {
  background-color: #F2E6E6;
}

#about {
  background-color: #BA2426;
  position: relative;
  border-radius: 0% 0% 3% 3%;
}

#about .container .header {
  position: relative;
  display: block;
  text-align: center;
}

#about .container .header h1 {
  margin-bottom: 1rem;
  font-size: 2.2rem;
  font-family: 'Dancing Script', cursive;
  color: #F2E6E6;
}

#about .container .header h1 i {
  font-size: .8rem;
}

#about .container .content {
  padding-bottom: 4rem;
}

#about .container .content .bulet {
  height: 12rem;
  width: 12rem;
  position: absolute;
  background-color: #F2E6E6;
  border-radius: 50% 5%;
  top: 8%;
  left: 15%;
  z-index: 0;
}

#about .container .content img {
  width: 50%;
  display: block;
  margin: auto;
  position: relative;
  margin-bottom: 2.5rem;
  z-index: 1;
}

#about .container .content p {
  color: #F2E6E6;
  text-align: justify;
  font-size: 1.2rem;
}

footer {
  background-color: #871A1C;
}

footer .row {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

footer .row img {
  width: 50%;
  position: relative;
  display: block;
  margin: auto;
}

footer .row .center {
  position: relative;
  width: 100%;
  margin-top: 2rem;
  min-height: 3rem;
}

footer .row .center ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .row .center ul li {
  list-style: none;
}

footer .row .center ul li a {
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  text-align: center;
  line-height: 2.9rem;
  font-size: 1.8rem;
  margin: 0 .2rem 0 .2rem;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 2px solid #fff;
  z-index: 1;
}

footer .row .center ul li a .icon {
  position: relative;
  color: #262626;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 3;
}

footer .row .center ul li a:hover .icon {
  color: #fff;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

footer .row .center ul li a:hover:before {
  top: 0;
}

footer .row .center ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f00;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 2;
}

footer .row .center ul li:nth-child(1) a:before {
  background-color: #3b5999;
}

footer .row .center ul li:nth-child(2) a:before {
  background-color: #55acee;
}

footer .row .center ul li:nth-child(3) a:before {
  background-color: #fb3958;
}

@media (min-width: 320px) {
  header .myslider .fieldslider {
    height: 60vh;
  }
  header .myslider .fieldslider .text {
    height: 60vh;
  }
  header .myslider .fieldslider .gambar img {
    height: 60vh;
  }
  #about {
    border-radius: 0% 0% 4% 4%;
  }
  #about .container .content .bulet {
    height: 14rem;
    width: 14rem;
  }
  footer .row .center ul li a {
    margin: 0 .7rem 0 .7rem;
  }
}

@media (min-width: 360px) {
  #menu .header h1 {
    font-size: 2.7rem;
  }
  #menu .header h1 i {
    font-size: 1rem;
  }
  #menu .header .pic-menu .all h2 {
    margin-top: .4rem;
    font-size: 1rem;
  }
  #menu .content .con-cards .card .con-text h2 {
    font-size: .9rem;
  }
  #location .container .header h1 {
    margin-bottom: 2rem;
    font-size: 2.7rem;
  }
  #location .container .header h1 i {
    font-size: 1rem;
  }
  #about .container .header h1 {
    margin-bottom: 2rem;
    font-size: 2.7rem;
  }
  #about .container .header h1 i {
    font-size: 1rem;
  }
  #about .container .content .bulet {
    height: 16rem;
    width: 16rem;
  }
  footer .row .center ul li a {
    margin: 0 1.1rem 0 1.1rem;
  }
}

@media (min-width: 411px) {
  #menu .header h1 {
    font-size: 3.3rem;
  }
  #menu .header h1 i {
    font-size: 1.5rem;
  }
  #menu .content .con-cards .card .con-text h2 {
    font-size: 1.1rem;
  }
  #location .container .header h1 {
    font-size: 3.3rem;
  }
  #location .container .header h1 i {
    font-size: 1.5rem;
  }
  #about {
    border-radius: 0% 0% 5% 5%;
  }
  #about .container .header h1 {
    font-size: 3.3rem;
  }
  #about .container .header h1 i {
    font-size: 1.5rem;
  }
  #about .container .content .bulet {
    height: 18rem;
    width: 18rem;
  }
  footer .row .center ul {
    margin-left: 1.4rem;
  }
}

@media (min-width: 540px) {
  header .myslider .fieldslider {
    height: 70vh;
  }
  header .myslider .fieldslider .text {
    height: 70vh;
  }
  header .myslider .fieldslider .gambar img {
    height: 70vh;
  }
  #menu .header h1 {
    font-size: 4rem;
  }
  #menu .header h1 i {
    font-size: 2rem;
  }
  #menu .content .con-cards .card .con-text h2 {
    font-size: 1.3rem;
  }
  #location .container .header h1 {
    font-size: 4rem;
  }
  #location .container .header h1 i {
    font-size: 2rem;
  }
  #about .container .header h1 {
    font-size: 4rem;
  }
  #about .container .header h1 i {
    font-size: 2rem;
  }
  #about .container .content .bulet {
    height: 23rem;
    width: 23rem;
  }
  footer .row .center ul {
    margin-left: 5.5rem;
  }
}

@media (min-width: 768px) {
  header .myslider .fieldslider .text h1 {
    font-size: 5rem;
    top: 8vh;
  }
  #menu .header h1 {
    font-size: 4.5rem;
  }
  #menu .header h1 i {
    font-size: 2.3rem;
  }
  #menu .content .con-cards .card {
    margin-top: 5rem;
  }
  #menu .content .con-cards .card .con-text h2 {
    font-size: 2rem;
  }
  #location .container {
    -webkit-transform: translate(0, -80px);
            transform: translate(0, -80px);
  }
  #location .container .header h1 {
    font-size: 4.5rem;
  }
  #location .container .header h1 i {
    font-size: 2.3rem;
  }
  #about .container .header h1 {
    font-size: 4.5rem;
  }
  #about .container .header h1 i {
    font-size: 2.3rem;
  }
  #about .container .content .bulet {
    height: 32rem;
    width: 32rem;
  }
  footer .row img {
    display: inline;
  }
  footer .row .center ul {
    margin-left: 53px;
  }
}

@media (min-width: 992px) {
  nav {
    background-color: transparent;
    -webkit-box-shadow: 0 0 0 rgba(135, 26, 28, 0);
            box-shadow: 0 0 0 rgba(135, 26, 28, 0);
  }
  header .myslider .fieldslider {
    height: 50vh;
    background-image: url(../images/background/bg-slider.png);
  }
  header .myslider .fieldslider .text {
    display: block;
    height: 50vh;
  }
  header .myslider .fieldslider .text h1 {
    top: calc(50vh -50%);
    color: #121212;
  }
  header .myslider .fieldslider .gambar img {
    height: 50vh;
  }
  header .arrow .prev {
    color: #BA2426;
  }
  #menu .header h1 {
    font-size: 5rem;
  }
  #menu .content .con-cards .card .con-text h2 {
    font-size: 1.1rem;
  }
  #location .container {
    -webkit-transform: translate(0, -120px);
            transform: translate(0, -120px);
  }
  #location .container .header h1 {
    font-size: 5rem;
  }
  #location .container .content .bungkus-loc .slick-track .slick-active {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  #location .container .content .bungkus-loc .slick-track .slick-current {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  #location .container .content .bungkus-loc .slick-track .card-body {
    min-height: 10rem;
  }
  #about {
    border-radius: 0% 0% 10% 10%;
  }
  #about .container .header h1 {
    font-size: 5rem;
  }
  #about .container .content .bulet {
    height: 17rem;
    width: 17rem;
  }
  footer .row .center ul {
    margin-left: 133px;
  }
}

@media (min-width: 1200px) {
  .navbar-brand img {
    -webkit-transition: 1s;
    transition: 1s;
  }
  .navbar-brand img:hover {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transition: 1s;
    transition: 1s;
  }
  #navb ul {
    position: relative;
    padding: 10px;
    overflow: hidden;
  }
  #navb ul li a {
    position: relative;
    line-height: 1;
    text-align: center;
    display: inline-block;
    width: 110px;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 2;
  }
  #navb ul li a b {
    position: relative;
    top: 40px;
    -webkit-transition: 0.3s ease top;
    transition: 0.3s ease top;
  }
  #navb ul li a i {
    position: relative;
    left: 25%;
    -webkit-transition: 0.3s ease top;
    transition: 0.3s ease top;
  }
  #navb ul li:hover b {
    top: 0;
  }
  #navb ul li:hover i {
    left: 0;
  }
  #navb ul .nav1:hover b {
    color: #121212;
  }
  #navb ul .nav1:hover i {
    color: #121212;
  }
  #navb ul .nav1:hover span {
    left: 20px;
    opacity: 1;
    -webkit-transition: .5s;
    transition: .5s;
  }
  #navb ul .nav1 b {
    color: #F2E6E6;
  }
  #navb ul .nav1 i {
    color: #F2E6E6;
  }
  #navb ul .nav2:hover b {
    color: #121212;
  }
  #navb ul .nav2:hover i {
    color: #121212;
  }
  #navb ul .nav2:hover span {
    left: 148px;
    opacity: 1;
    -webkit-transition: .5s;
    transition: .5s;
  }
  #navb ul .nav2 b {
    color: #F2E6E6;
  }
  #navb ul .nav2 i {
    color: #F2E6E6;
  }
  #navb ul .nav3:hover b {
    color: #121212;
  }
  #navb ul .nav3:hover i {
    color: #121212;
  }
  #navb ul .nav3:hover span {
    left: 275px;
    opacity: 1;
    -webkit-transition: .5s;
    transition: .5s;
  }
  #navb ul .nav3 b {
    color: #F2E6E6;
  }
  #navb ul .nav3 i {
    color: #F2E6E6;
  }
  #navb ul .nav4:hover b {
    color: #121212;
  }
  #navb ul .nav4:hover i {
    color: #121212;
  }
  #navb ul .nav4:hover span {
    left: 400px;
    opacity: 1;
    -webkit-transition: .5s;
    transition: .5s;
  }
  #navb ul .nav4 b {
    color: #F2E6E6;
  }
  #navb ul .nav4 i {
    color: #F2E6E6;
  }
  #navb ul span {
    position: absolute;
    width: 100px;
    top: 10px;
    bottom: 10px;
    opacity: 0;
    background-color: #F2E6E6;
    border-radius: 50px;
    z-index: 1;
  }
  #navb ul .aktif span {
    left: 20px;
    opacity: 1;
    -webkit-transition: .5s;
    transition: .5s;
  }
  #navb ul .aktif b {
    color: #121212;
    top: 0;
  }
  #navb ul .aktif i {
    color: #121212;
    left: 0;
  }
  header .myslider .fieldslider {
    height: 100vh;
  }
  header .myslider .fieldslider .text {
    height: 100vh;
  }
  header .myslider .fieldslider .text h1 {
    top: calc(90vh - 50%);
  }
  header .myslider .fieldslider .gambar img {
    height: 100vh;
  }
  #location .container {
    -webkit-transform: translate(0, -160px);
            transform: translate(0, -160px);
  }
  #about {
    border-radius: 0% 0% 15% 15%;
  }
  #about .container .content .bulet {
    height: 21rem;
    width: 21rem;
  }
  footer .row .center ul {
    margin-left: 185px;
  }
}
/*# sourceMappingURL=main.css.map */