%line-navbar {
    width: 100%;
    height: 3px;
    background-color: #F2E6E6;
    border-radius: 8px;
    transition: all 0.5s linear;
}

body {
    background-color:#871A1C;
    // font-family: 'Noto Sans HK', sans-serif;
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    color: #121212;
}

nav {
    background-color: #BA2426;
    box-shadow: 0 24px 40px -12px rgba(135,26,28,.35);
    z-index: 1;
    .navbar-brand {
        img {
            max-height: 40px;
            margin-left: 20px;
        }
    }
    
    .navbar-toggler {
        box-sizing: border-box;
        .menu-btn {
            width: 30px;
            height: 30px;
            position: relative;
            cursor: pointer;
            transition: all 0.5s linear;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
            .line {
                @extend %line-navbar;  
            }
            &:before {
                content: "";
                @extend %line-navbar;
                position: absolute;
                transform: translateY(10px);
            }
            &:after {
                content: "";
                @extend %line-navbar;
                position: absolute;
                transform: translateY(-10px);
            }
        }
        .open {
            .line {
                background-color: transparent;
                transform: translateX(-30px);
                transition: all 0.5s linear;
            }
            &:before {
                transform: rotate(-45deg);
            }
            &:after {
                transform: rotate(45deg);
            }
        }
    }

    .navbar-collapse {
        text-align: left;
        padding-left: 1.2em;
        li {
            a {
                color: #F2E6E6 !important;
            }
        }
        .aktif {
            a {
                color: #fff !important;
            }
        }
    }

}

.mobile-bg {
    background-color: #BA2426;
    box-shadow: 0 24px 40px -12px rgba(135,26,28,.35);
}

header {
    position: relative;
    .myslider {
        z-index: 0;
        .fieldslider {
            width: 100%;
            height: 50vh;
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            .text{
                display: none;
                h1 {
                    position: absolute;
                    top: 12vh;
                    left: 0;
                    right: 0;
                    z-index: 3;
                    color: #F2E6E6;
                    font-family: 'Dancing Script', cursive;
                    transform: rotate(350deg);
                }
            }
            .gambar{
                img {
                    height: 50vh;
                    width: 100%;
                    position: relative;
                    z-index: 2;   
                }
            }
        }
    }
    .arrow {
        font-size: 2em;
        cursor: pointer;
        .prev {
            position: absolute;
            top: 50%;
            left: 5%;
            color: #F2E6E6;
            transition: .3s;
            &:hover {
                transform: translate(0, -5px);
            }
        }
        .next {
            position: absolute;
            top: 50%;
            right: 5%;
            color: #F2E6E6;
            transition: .3s;
            &:hover {
                transform: translate(0, -5px);
            }
        }
    }
}

section {
    min-height: 100vh;
}

#menu {
    background-color: #F2E6E6;
    position: relative;
    .header {
        position: relative;
        display: block;
        text-align: center;
        padding-top: 2rem;
        h1 {
            font-size: 2.2rem;
            font-family: 'Dancing Script', cursive;
            i {
                font-size: .8rem;
            }
        }
        .pic-menu {
            margin-top: 1rem;
            .all {
                border: solid 1px #CE2899;
                display: inline-block;
                width: 28vw;
                height: 2rem;
                margin-right: 1rem;
                position: relative;
                border-radius: 2em;
                cursor: pointer;
                h2 {
                    color: #CE2899;
                    margin-top: .5rem;
                    font-size: .8rem;
                }
                &:hover {
                    background-color:#B42386;
                    h2 {
                        color: #F2E6E6;
                    }
                }
            }
            .aktif {
                background-color: #CE2899;
                h2 {
                    color: #F2E6E6;
                }
                &:hover {
                    background-color: #B42386;
                }
            }
        }
    }
    .content {
        position: relative;
        .con-cards {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            position: relative;
            margin-left: 0;
            .card {
                width: 100%;
                cursor: pointer;
                height: auto;
                background-color: #BA2426;
                border-radius: 20px;
                position: relative;
                z-index: 2;
                margin-top: 3rem;
                transition: all .25s ease;
                box-shadow: 0px 0px 0px 0px rgba($color: #BA2426, $alpha: 0.8) ;
                &:hover {
                    transform: translate(0, -10px);
                    box-shadow: 0px 15px 30px -10px rgba($color: #871A1C, $alpha: 0.5);
                    .con-img {
                        transform: translate(0, -.5rem) scale(1.3);
                        .blur {
                            transform: translate(.8rem, 2rem) scale(0.7);
                            opacity: .35;
                        }
                    }
                }
                .con-text {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    h2 {
                        font-weight: 600;
                        font-size: .6rem;
                        margin: 0;
                        color: #F2E6E6;
                    }
                }
                .con-img {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all .35s ease-out;
                    img {
                        width: 100%;
                        transform: translate(0px, -10px);
                    }
                    .blur {
                        position: absolute;
                        filter: blur(15px) grayscale(100%);
                        z-index: -1;
                        opacity: 0;
                        transform: scale(.6) translate(0, -.5rem);
                        transition: all .35s ease-out;
                    }
                }
            }
        }
    }
    
}

#location {
    background-color: #BA2426;
    position: relative;
    svg {
        background-color: #BA2426;
        position: relative;
        path {
            fill: #F2E6E6;
        }
    }
    .container {
        transform: translate(0, -20px);
        .header {
            position: relative;
            display: block;
            text-align: center;
            h1 {
                margin-bottom: 1rem;
                font-size: 2.2rem;
                font-family: 'Dancing Script', cursive;
                color: #F2E6E6;
                i {
                    font-size: .8rem;
                }
            }
        }
    
        .content {
            .card {
                background-color: #F2E6E6;
            }
        }
    }
}

#about {
    background-color: #BA2426;
    position: relative;
    border-radius: 0% 0% 3% 3%;
    .container {
        .header {
            position: relative;
            display: block;
            text-align: center;
            h1 {
                margin-bottom: 1rem;
                font-size: 2.2rem;
                font-family: 'Dancing Script', cursive;
                color: #F2E6E6;
                i {
                    font-size: .8rem;
                }
            }
        }
        .content {
            padding-bottom: 4rem;
            .bulet {
                height: 12rem;
                width: 12rem;
                position: absolute;
                background-color: #F2E6E6;
                border-radius: 50% 5%;
                top: 8%;
                left: 15%;
                z-index: 0;
            }
            img {
                width: 50%;
                display: block;
                margin: auto;
                position: relative;
                margin-bottom: 2.5rem;
                z-index: 1;
            }
            p {
                color: #F2E6E6;
                text-align: justify;
                font-size: 1.2rem;
            }
        }
    }
}

footer {
    background-color: #871A1C;
    .row {
        margin-top: 2rem;
        margin-bottom: 2rem;
        img {
            width: 50%;
            position: relative;
            display: block;
            margin: auto;
        }
        .center {
            position: relative;
            width: 100%;
            margin-top: 2rem;
            min-height: 3rem;
            ul {
                display: flex;
                position: relative;
                align-items: center;
                li {
                    list-style: none;
                    a {
                        width: 3rem;
                        height: 3rem;
                        background-color: #fff;
                        text-align: center;
                        line-height: 2.9rem;
                        font-size: 1.8rem;
                        margin: 0 .2rem 0 .2rem;
                        display: block;
                        border-radius: 50%;
                        position: relative;
                        overflow: hidden;
                        border: 2px solid #fff;
                        z-index: 1;
                        .icon {
                            position: relative;
                            color: #262626;
                            transition: .5s;
                            z-index: 3;
                        }
                        &:hover {
                            .icon {
                                color: #fff;
                                transform: rotateY(360deg);
                            }
                            &:before {
                                top: 0;
                            }
                        }
                        &:before {
                            content: "";
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: #f00;
                            transition: .5s;
                            z-index: 2;
                        }
                    }
                    &:nth-child(1) {
                        a {
                            &:before {
                                background-color: #3b5999;
                            }
                        }
                    }
                    &:nth-child(2) {
                        a {
                            &:before {
                                background-color: #55acee;
                            }
                        }
                    }
                    &:nth-child(3) {
                        a {
                            &:before {
                                background-color: #fb3958;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 320px) {
    header {
        .myslider {
            .fieldslider {
                height: 60vh;
                .text {
                    height: 60vh;
                }
                .gambar {
                    img {
                        height: 60vh;
                    }
                }
            }
        }
    }
    #about {
        border-radius: 0% 0% 4% 4%;
        .container {
            .content {
                .bulet {
                    height: 14rem;
                    width: 14rem;
                }
            }
        }
    }
    footer {
        .row {
            .center {
                ul {
                    li {
                        a {
                            margin: 0 .7rem 0 .7rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 360px) {
    #menu {
        .header {
            h1 {
                font-size: 2.7rem;
                i {
                    font-size: 1rem;
                }
            }
            .pic-menu {
                .all {
                    h2 {
                    margin-top: .4rem;
                    font-size: 1rem;
                    }
                }
            }
        }
        .content {
            .con-cards {
                .card {
                    .con-text {
                        h2 {
                            font-size: .9rem;
                        }
                    }
                }
            }
        }
    }

    #location {
        .container {
            .header {
                h1 {
                    margin-bottom: 2rem;
                    font-size: 2.7rem;
                    i {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    #about {
        .container {
            .header {
                h1 {
                    margin-bottom: 2rem;
                    font-size: 2.7rem;
                    i {
                        font-size: 1rem;
                    }
                }
            }
            .content {
                .bulet {
                    height: 16rem;
                    width: 16rem;
                }
            }
        }
    }
    
    footer {
        .row {
            .center {
                ul {
                    li {
                        a {
                            margin: 0 1.1rem 0 1.1rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 411px) {
    
    #menu {
        .header {
            h1 {
                font-size: 3.3rem;
                i {
                    font-size: 1.5rem;
                }
            }
        }
        .content {
            .con-cards {
                .card {
                    .con-text {
                        h2 {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }

    #location {
        .container {
            .header {
                h1 {
                    font-size: 3.3rem;
                    i {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    #about {
        border-radius: 0% 0% 5% 5%;
        .container {
            .header {
                h1 {
                    font-size: 3.3rem;
                    i {
                        font-size: 1.5rem;
                    }
                }
            }
            .content {
                .bulet {
                    height: 18rem;
                    width: 18rem;
                }
            }
        }
    }
    
    footer {
        .row {
            .center {
                ul {
                    margin-left: 1.4rem;
                }
            }
        }
    }
}

@media (min-width: 540px) {
    header {
        .myslider {
            .fieldslider {
                height: 70vh;
                .text {
                    height: 70vh;
                }
                .gambar {
                    img {
                        height: 70vh;
                    }
                }
            }
        }
    }

    #menu {
        .header {
            h1 {
                font-size: 4rem;
                i {
                    font-size: 2rem;
                }
            }
        }
        .content {
            .con-cards {
                .card {
                    .con-text {
                        h2 {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }

    #location {
        .container {   
        .header {
            h1 {
                font-size: 4rem;
                i {
                    font-size: 2rem;
                }
            }
        }
        }
    }

    #about {
        .container {   
        .header {
            h1 {
                font-size: 4rem;
                i {
                    font-size: 2rem;
                }
            }
        }
        .content {
            .bulet {
                height: 23rem;
                width: 23rem;
            }
        }
        }
    }

    footer {
        .row {
            .center {
                ul {
                    margin-left: 5.5rem;
                }
            }
        }
    }
    
}

@media (min-width: 768px) {
    header {
        .myslider {
            .fieldslider {
                .text {
                    h1 {
                        font-size: 5rem;
                        top: 8vh;
                    }
                }
            }
        }
    }

    #menu {
        .header {
            h1 {
                font-size: 4.5rem;
                i {
                    font-size: 2.3rem;
                }
            }
        }
        .content {
            .con-cards {
                .card {
                    margin-top: 5rem;
                    .con-text {
                        h2 {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }

    #location {
        .container {
            transform: translate(0, -80px);
            .header {
                h1 {
                    font-size: 4.5rem;
                    i {
                        font-size: 2.3rem;
                    }
                }
            }
        }
    }

    #about {
        .container {
            .header {
                h1 {
                    font-size: 4.5rem;
                    i {
                        font-size: 2.3rem;
                    }
                }
            }
            .content {
                .bulet {
                    height: 32rem;
                    width: 32rem;
                }
            }
        }
    }

    footer {
        .row {
            img {
                display: inline;
            }
            .center {
                ul {
                    margin-left: 53px;
                    
                }
            }
        }
    }
}

@media (min-width: 992px) {
    nav {
        background-color:transparent;
        box-shadow: 0 0 0 rgba(135,26,28,0);
    }

    header {
        .myslider {
            .fieldslider {
                height: 50vh;
                background-image: url(../images/background/bg-slider.png);
                .text {
                    display: block;
                    height: 50vh;
                    h1 {
                        top: calc(50vh -50%);
                        color: #121212;
                    }
                }
                .gambar {
                    img {
                        height: 50vh;
                    }
                }
            }
        }
        .arrow {
            .prev {
                color: #BA2426;
            }
        }
    }

    #menu {
        .header {
            h1 {
                font-size: 5rem;
            }
        }
        .content {
            .con-cards {
                .card {
                    .con-text {
                        h2 {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }

    #location {
        .container{
            transform: translate(0, -120px);
            .header {
                h1 {
                    font-size: 5rem;
                }
            }
            .content {
                .bungkus-loc {
                    .slick-track {
                        .slick-active {
                            transform: scale(.9);
                        }
                        .slick-current {
                            transform: scale(1);
                        }
                        .card-body {
                            min-height: 10rem;
                        }
                    }
                }
            }
        }
    }

    #about {
        border-radius: 0% 0% 10% 10%;
        .container {
            .header {
                h1 {
                    font-size: 5rem;
                }
            }
            .content {
                .bulet {
                    height: 17rem;
                    width: 17rem;
                }
            }
        }
    }

    footer {
        .row {
            .center {
                ul {
                    margin-left: 133px;
                    
                }
            }
        }
    }
}

@media (min-width: 1200px) { 
    .navbar-brand {
        img {
            transition: 1s;
            &:hover {
                transform: rotateY(180deg);
                transition: 1s;
            }
        }
    }
    #navb {
        ul {
            position: relative;
            padding: 10px;
            overflow: hidden;
            li {
                a {
                    position: relative;
                    line-height: 1;
                    text-align: center;
                    display: inline-block;
                    width: 110px;
                    padding: 10px;
                    box-sizing: border-box;
                    z-index: 2;                
                    b {
                        position: relative;
                        top: 40px;
                        transition: 0.3s ease top;
                    }
                    i {
                        position: relative;
                        left: 25%;
                        transition: 0.3s ease top;
                    }
                }
                &:hover b {
                    top: 0;
                }
                &:hover i {
                    left: 0;
                }
            }
            .nav1 {               
                &:hover {
                    b {
                        color: #121212;
                    }
                    i {
                        color: #121212;
                    }
                }
                &:hover span {
                    left: 20px;
                    opacity: 1;
                    transition: .5s;
                }
                b {
                    color: #F2E6E6;
                }
                i {
                    color: #F2E6E6;
                }
            }
            .nav2 {
                &:hover {
                    b {
                        color: #121212;
                    }
                    i {
                        color: #121212;
                    }
                }
                &:hover span {
                    left: 148px;
                    opacity: 1;
                    transition: .5s;
                }
                b {
                    color: #F2E6E6;
                }
                i {
                    color: #F2E6E6;
                }
            }
            .nav3 {
                &:hover {
                    b {
                        color: #121212;
                    }
                    i {
                        color: #121212;
                    }
                }
                &:hover span {
                    left: 275px;
                    opacity: 1;
                    transition: .5s;
                }
                b {
                    color: #F2E6E6;
                }
                i {
                    color: #F2E6E6;
                }
            }
            .nav4 {
                &:hover {
                    b {
                        color: #121212;
                    }
                    i {
                        color: #121212;
                    }
                }
                &:hover span {
                    left: 400px;
                    opacity: 1;
                    transition: .5s;
                }
                b {
                    color: #F2E6E6;
                }
                i {
                    color: #F2E6E6;
                }
            }
            span {
                position: absolute;
                width: 100px;
                top: 10px;
                bottom: 10px;
                opacity: 0;
                background-color: #F2E6E6;
                border-radius: 50px;
                z-index: 1;
            }

            .aktif {
                span {
                    left: 20px;
                    opacity: 1;
                    transition: .5s;
                }
                b {
                    color: #121212;
                    top: 0;
                }
                i {
                    color: #121212;
                    left: 0;
                }
            }
        }
    }
    header {
        .myslider {
            .fieldslider {
                height: 100vh;
                .text {
                    height: 100vh;
                    h1 {
                        top: calc(90vh - 50%);
                    }
                }
                .gambar {
                    img {
                        height: 100vh;
                    }
                }
            }
        }
    }
    #location {
        .container{
            transform: translate(0, -160px);
        }
    }
    #about {
        border-radius: 0% 0% 15% 15%;
        .container {
            .content {
                .bulet {
                    height: 21rem;
                    width: 21rem;
                }
            }
        }
    }

    footer {
        .row {
            .center {
                ul {
                    margin-left: 185px;
                    
                }
            }
        }
    }
 }